<ion-header>
  <ion-toolbar class="comic-toolbar">
    <ion-title>HÉROES Y VILLANOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-lg="4" 
               *ngFor="let p of personajesMostrados; let i = index">
        
        <ion-card [routerLink]="['/detalle-personaje', inicioIndex + i]"
                  class="comic-card"
                  button="true">
          
          <ion-card-header>
            <ion-card-title>{{ p.alias }}</ion-card-title>
            <ion-card-subtitle>{{ p.nombre }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col size="12" class="ion-padding-horizontal">
          <ion-button (click)="siguientePagina()" 
                      [disabled]="isLastPage()" 
                      expand="block" 
                      fill="solid" 
                      class="comic-button">
                      
            Siguientes
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>